body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  margin: auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 70%;
}

.item {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  width: 250px;
}

.item .sku {
  display: none;
}

.item .name {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.cart {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  flex-basis: 30%;
  margin: 5px 20px 5px 0;
}

.title {
  font-size: 25px;
  text-align: center;
}

.button-add {
  color: white;
  background-color: rgba(52, 131, 250, 1);
  box-shadow: 0 0 0 0 white;
  border-color: transparent;
  cursor: pointer;
  padding: 3px;
}

.empty {
  color: rgba(52, 131, 250, 1);
  background-color: rgba(65, 137, 230, 0.15);
  box-shadow: 0 0 0 0 white;
  border-color: transparent;
  cursor: pointer;
  padding: 3px;
}
